<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>老阎书城</title>

    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/serachIndex.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
		
    </nav>
	
	<div class="navbar-hn">
      <div class="container">
        <nav class="nva-hn">
          <a class="nva-hn-item" href="#">About</a>
          <a class="nva-hn-item" href="#">New features</a>
          <a class="nva-hn-item" href="#">Press</a>
          <a class="nva-hn-item" href="#">New hires</a>
          <a class="nva-hn-item" href="#">Singin</a>
        </nav>
      </div>
    </div>


	<div class="container-serach2">
		<div class="row">
		  <div class="col-xs-6">
			<div class="input-group">
			  <div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="#">Action</a></li>
				  <li><a href="#">Another action</a></li>
				  <li><a href="#">Something else here</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Separated link</a></li>
				</ul>
			  </div>
			  <input type="text" class="form-control">
			  <span class="input-group-btn" url="index2.html">
				<button class="btn btn-default" type="button">Go!</button>
			  </span>
			</div>
		  </div>
		  <div class="shoppingcart">
			<p><button type="button" class="btn btn-default">Shopping Cart</button></p>
		  </div>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron-hn2">
		  <form role="form">
			<div class="row">
				<div class="col-xs-9">
					<p id="leibie"></p>
				</div>
				<div class="col-xs-3">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						Sort
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Price Lower</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Price Higher</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Date</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fraction</a></li>
						</ul>
					</div>
				</div>
			</div>
		  </form>
		</div>
	</div>
	
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-xs-9">
          <div class="row">
            <div class="col-xs-3">
              <p><img src="../img/cat.jpg" alt="..." class="img-hn1"></p>
              <h4>宝宝第一套好性格养成...</h4>
			  <div class="caption"><p><a href="#" class="btn btn-primary" role="button">Jion Shopping Cart</a></p></div>
            </div>
            <div class="col-xs-3">
              <p><img src="../img/1.jpeg" alt="..." class="img-hn1"></p>
              <h4>大师名作绘本馆:小狗...</h4>
			  <div class="caption"><p><a href="#" class="btn btn-primary" role="button">Jion Shopping Cart</a></p></div>
            </div>
			<div class="col-xs-3">
              <p><img src="../img/2.jpeg" alt="..." class="img-hn1"></p>
              <h4>菊与刀(典藏插图版)-“...</h4>
			  <div class="caption"><p><a href="#" class="btn btn-primary" role="button">Jion Shopping Cart</a></p></div>
            </div>
			<div class="col-xs-3">
              <p><img src="../img/3.jpeg" alt="..." class="img-hn1"></p>
              <h4>哈佛中国史(套装共6册)</h4>
			  <div class="caption"><p><a href="#" class="btn btn-primary" role="button">Jion Shopping Cart</a></p></div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>

    <script src="../js/serachIndex.js"></script>
  </body>
</html>
